<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>anthmodlst</title>
		<style>
			{{ pygments_css|safe }}
		</style>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div class="app">
			<h2>Available Anthropic Models</h2>
			<ul>
				{% for item in results %}
					<li>
						<code>{{ item }}</code>
					</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>