<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>anthmodlst</title>
		<style>
			{{ pygments_css|safe }}
		</style>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div class="app">
			<h2>Available Anthropic Models (prompt and completion costs per million tokens)</h2>
			<ul>
				{% for item in results %}
					{% if item|length == 1 %}
						<li><code>{{ item[0] }}</code></li>
					{% else %}
						<li><code>{{ item[0] }}</code> - Input: ${{ "%.2f"|format(item[1]|float) }}, Output: ${{ "%.2f"|format(item[2]|float) }} per million tokens</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</body>
</html>