<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>domodlst</title>
		<style>
			{{ pygments_css|safe }}
		</style>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div class="app">
			<h2>Available DigitalOcean Gradient Models</h2>
			<ul>
				{% for model in results %}
					<li><code>{{ model }}</code></li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>
